nvim/plugged/*
coc/extensions/*/
FreeCAD
dconf
dolphin-emu
enchant
evolution/sources
gtk-3.0
ibus/bus
kicad
libreoffice
org.gnome.Ptyxis
pulse
thefuck
.gsd-keyboard.settings-ported
QtProject.conf
gnome-initial-setup-done
monitors.xml
mimeapps.list
