.gsd-keyboard.settings-ported
FreeCAD
QtProject.conf
Thunar
background
blender/*
coc/extensions/*/
dconf
discord
dolphin-emu
enchant
evolution/sources
filetypesrc
fish/fish_variables
gnome-boxes/*
gnome-initial-setup-done
gtk-3.0
ibus/bus
kicad
lazygit/state.yml
libreoffice/*
libvirt/storage
mimeapps.list
mimeapps.list
monitors.xml
monitors.xml
nvim/plugged/*
org.gnome.Ptyxis
pavucontrol.ini
pulse
spotify
thefuck
transmission
trashrc
unity3d/*
user-dirs.dirs
user-dirs.locale
xfce4/xfconf/xfce-perchannel-xml
/Signal
/librewolf/librewolf
/zen
