nvim/plugged/*
coc/extensions/*/
fish/fish_variables
blender/*
discord
lazygit/state.yml
libreoffice/*
libvirt/storage
spotify
unity3d/*
transmission
xfce4/xfconf/xfce-perchannel-xml
Thunar
pavucontrol.ini
gnome-boxes/*
gtk-3.0
ibus/bus
trashrc
user-dirs.dirs
user-dirs.locale
monitors.xml
mimeapps.list
filetypesrc
background
QtProject.conf
.gsd-keyboard.settings-ported
